body {
  font-size: 16px;
  color: #fff;
  background-color: #BCC7BA;
  font-family: 'Oxygen', sans-serif;
}
html,body{overflow-x: hidden;}
/*body { box-sizing: border-box; }
body *, body *:before, body *:after { box-sizing: inherit; }*/

#header-nav{
  border-radius: 0;
  
}

/*#logo-img {
  background: url('../images/logo_project.jpg') no-repeat;
  width: 50px;
  height: 50px;
  margin: 10px 15px 10px 0;
}*/

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 {
  font-family: 'Lora', serif;
  /*color: #557c3e;*/
  color:#55ae32;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: .95;
}

.info h2{
  font-family: 'Oxygen',serif;
  font-weight: bold;
  color: green;
  text-align: center;
  text-shadow: 0.5px 0.5px 0.5px #222;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 5;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

 }

.material-icons.color { color: #55af32; }
.material-icons.md-36 { font-size: 36px; }

.form-control{
  width: 60px;
}


/*#googleMap {
    margin: 20px;
    width: 500px;
    height: 400px;
    background-color: #CCC;
  }
*/

  /********** Large devices only **********/
@media (min-width: 1200px) {
  #logo-img {
    background: url('../images/logo_project.jpg') no-repeat;
    width: 50px;
    height: 50px;
    margin: 10px 15px 10px 0;
  }
  .container .jumbotron {
    height: 675px;
  }

  #googleMap {
    margin: 20px;
    width: 90%;
    height: 550px;
    margin-left: 5%;
    background-color: #CCC;
  }

      .controls {
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input2 {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  #logo-img {
    background: url('../images/logo_project.jpg') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  .container .jumbotron {
    height: 558px;
  }
  #googleMap {
    margin: 20px;
    width: 90%px;
    height: 400px;
    background-color: #CCC;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    height: 432px;
  }
  #googleMap {
    margin: 20px;
    width: 90%px;
    height: 380px;
    background-color: #CCC;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { 
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { 
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #googleMap {
    margin: 20px;
    width: 90%px;
    height: 380px;
    background-color: #CCC;
  }
}
